
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search">
    <h4><b>SIMPLE.</b></h4>
  </div>
   
  <div class="w3-bar-block">
    <a href="#home" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Home</a> 
    <a href="#accessories" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Accessories</a> 
    <a href="#denim" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Denim</a> 
    <a href="#footwear" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Footwear</a>
    <a href="#jeans" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Jeans</a>
    <a href="#outerwear" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Outerwear</a>
    <a href="#pants" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Pants</a>
  	<a href="#shirt" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Shirt</a>
  	<a href="#t-shirt" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>T-shirt</a>
  	<a href="#shorts" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-fw w3-margin-right"></i>Shorts</a>
  </div>
 
</nav>



<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <div class="w3-container">
    <div class="w3-section w3-bottombar w3-padding-16" style="float: right">
      <button class="w3-button w3-white"><i class="w3-margin-right"></i>Cart(0)</button>
      <button class="w3-button w3-white w3-hide-small"><i class="w3-margin-right"></i>Check Out</button>
    </div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div *ngFor="let p of units">
  <!-- <div routerLink="{{p._id}}"> -->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="{{ p.profile }}" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>{{ p.name }}</b></p>
        <p>$: {{ p.price }}</p>
      </div>
    </div>
  </div>
  <!-- </div> -->
  </div>
</div>


<!-- <div id="list"class=" col-md-3" style="height:auto;text-align: center;"  *ngFor="let x of units">
    <div routerLink="{{x._id}}">
      <div class="centered" style="height: 200px; " >
        <img class="img-responsive" style="max-width:80%;max-height:80%;" src="{{x.Gambar}}" alt="">
      </div>
      <h3>{{x.Nama}}</h3>
      <p>IDR {{x.Harga}}</p>
    </div>
  </div> -->




<!-- <form #f="ngForm" (ngSubmit)="addData(f)" action="" style="color:#bdbdbd; margin-bottom:100px;">
     <label class="col-md-offset-3" for="">name</label> <br>
     <input name="name" class="col-md-offset-3 col-md-6 noborder inputtype" type="text" ngModel><br><br>
     
     <label class="col-md-offset-3" for="">price</label> <br>
     <input name="price" class="col-md-offset-3 col-md-6 noborder inputtype" type="number" ngModel><br><br>


     <label class="col-md-offset-3" for="">profile</label> <br><br>
     <input class="inputfile col-md-offset-3" id="profile"style="profile" name="profile" (change)="fileChange($event)" type="file" multiple > -->
     
     <!-- <label for="Gambar" >Choose a file</label> -->
 
       <!-- <button class="col-md-offset-8">Cancel</button>
       <button type="submit" >Submit</button>
   </form> -->
